.alert-success {
    border-color: #fff!important;
    background-color: #fff!important;
    color: #0B3A29!important;
    text-align: center;
}
.btn-login {
    border-color: #103e5f !important;
    background-color: #103e5f !important;
    color: #FFF;
}
.navbar-dark, .navbar-dark.navbar-horizontal {
    background: #f9f9f9 !important;
}
.header-navbar .navbar-header .navbar-brand .brand-logo {
    width: 200px !important;
    top: -15px;
    position: relative;
}

.navbar-dark .navbar-nav .nav-link {
    color: #103e5f !important;
}
.header-navbar .navbar-container ul.nav li>a.nav-link {
    padding: 1.9rem 1rem;
    font-size: 12px !important;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.bg-cyan.bg-lighten-2, .btn-cyan.btn-lighten-2 {
    background-color: #fff !important;
}
.blue-grey.lighten-2 {
    color: #fff !important;
}
footer.footer-dark {
    background: #103e5f !important;
    color: #FFF;
}
